@font-face {
    font-family: "Rubik Regular";
    src: url("../../../public/fonts/Rubik/Rubik-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Rubik Medium";
    src: url("../../../public/fonts/Rubik/Rubik-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Rubik Bold";
    src: url("../../../public/fonts/Rubik/Rubik-Bold.ttf") format("truetype");
}

.body{
    background: white;
    width: 100vw;
    overflow-x: hidden;
    -ms-overflow-style: none;
    min-height: 100vh;
}
.body::-webkit-scrollbar { width: 0; }
.container{
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}
.img{
    margin-top: -1%;
    width: 37%;
}
.title{
    font-size: 32px;
    font-family: "Rubik Bold";
    color: white;
}
.subtitle{
    font-family: "Rubik Medium";
    color: white;
    font-size: 18px;
}
.subtitleBottom{
    font-family: "Rubik Medium";
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    text-align: center;
}
.titleBlock{
    margin-top: -7%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.button{
    font-family: "Rubik Medium";
    background-color: #FFF973;
    color: black;
    border: none;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 10px 20px;
    transition: 0.3s;
    font-size: 18px;
    margin-bottom: 20px;
}
.button:hover{
    background: #422FAF;
    color: white;
}
.slide{
    z-index: 8;
    position: absolute;
    width: 100%;
    transition: 0.5s;
    transform: translateX(100%);
    background: linear-gradient(92.65deg, #7365C6 1.99%, #6657BF 46.33%, #412FAE 98.22%);
}
.slideHide{
    z-index: 8;
    background: linear-gradient(92.65deg, #7365C6 1.99%, #6657BF 46.33%, #412FAE 98.22%);
    position: absolute;
    width: 100%;
    transition: 0.5s;
    transform: translateX(0%);
}

.buttons_block{
    display: flex;
    width: 40%;
    justify-content: space-around;
    margin-top: 30px;
}

@media (max-width: 600px){
    .img{
        margin-top: 5%;
        width: 100%;
    }
    .subtitle{
        text-align: center;
    }
    .button{
        width: 100%;
        padding: 10px;
    }
    .buttons_block{
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-top: 30px;
        flex-direction: column;
    }
    .displayNoneOnMobile{
        display: none;
    }
}