.container{
    background-color: #fff;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 11px;
    padding: 20px;
}

.name{
    font-size: 25px;
    margin: 0;
}

.direction{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 0;
}

.button{
    margin-top: 26px;
    padding: 11px;
    background-color: #412FAE;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    font-family: "Rubik Bold", serif;
    font-style: normal;
    border: none;
}

.deactivated_card_button{
    background-color: #af880a;
}

@media screen and (max-width: 761px){
    .container{
    }
}