@font-face {
    font-family: "Rubik Regular";
    src: url("../../public/fonts/Rubik/Rubik-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Rubik Medium";
    src: url("../../public/fonts/Rubik/Rubik-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Rubik Bold";
    src: url("../../public/fonts/Rubik/Rubik-Bold.ttf") format("truetype");
}

.filterBlockWrapper{
    width: 100%;
    padding: 3% 5%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.titleBlock{
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.titleImg{
    height: 48px;
    width: 48px;
    margin-right: 10px;
}
.title{
    font-size: 32px;
    font-family: "Rubik Bold";
    box-sizing: border-box;
}
.message{
    font-family: "Rubik Bold";
}
.courses_block{
    box-sizing: border-box;
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: [card] 20% [card] 20% [card] 20% [card] 20%;
}
.link{
    color: white;
    font-family: "Rubik Medium";
    text-decoration: none;
    cursor: pointer;
}
.link:hover{
    color: white;
    text-decoration: none;
}
.howItWorks{
    padding: 10px;
    border-radius: 50px;
    margin-bottom: 20px;
    background: none;
    border: 2px solid white;
    color: white;
    font-family: "Rubik Medium";
}
.pageBody{
    background-image: url(https://realibi.kz/file/843135.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: auto !important;
}
.mainImageTitleBlock{
    width: 40%;
    margin-left: 30%;
    padding-top: 10%;
    color: white;
}
.mainImageTitleBlock h1{
    text-align: center;
}
.mainImageTitleBlock p{
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
}
.rounds{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-left: 5%;
    margin-top: 60px;
}
.counter{
    width: 65%;
    height: 65%;
    position: absolute;
    top: 22%;
    left: 17.5%;
    align-items: center;
/*    border: 2px solid black;*/
    z-index: 2;
    text-align: center;
    display: flex; 
    justify-content: center;
    font-size: 2.5vw;
    font-family: "Rubik Medium";
}
.doughnut{
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
    padding: 0px;
    align-items: center;
}
.forRC{
    width: 20%;
}
.forRC p{
    margin-top: 10px;
    text-align: center;
    font-size: 1.1vw;
    font-family: "Rubik Medium";
}
.hole{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
}
.priorityCategories{
    margin-top: 10px;
    width: 90%;
    margin-left: 5%;
}
.priorityCategories span{
    margin-right: 15px;
}
.findCourseBlock{
    margin-top: 40px;
    width: 90%;
    margin-left: 5%;
}
.findCourseBlock input{
    padding: 10px;
    border-radius: 10px 0px 0px 10px;
    border: 2px solid #6657BF;
}
.findCourseBlock input::placeholder{
    color: black;
    font-family: 'Rubik Medium';
}
.findCourseBlock button{
    padding: 10px;
    border-radius: 0px 10px 10px 0px;
    border: 2px solid #6657BF;
    background-color: #6657BF;
    color: white;
    font-family: 'Rubik Medium';
}
.desktopHeader{
    width: 100%;
    display: flex;
    height: auto;
    justify-content: space-between;
    align-items: center;
    
}
.menuButtonBody{
    display: none;
}
.header{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    color: white;
   /* background: linear-gradient(90deg, #7365C6 1.99%, #6657BF 46.33%, #412FAE 98.22%);*/
    z-index: 7;
    padding-left: 5%;
    padding-right: 5%;
    /*position: sticky;*/
    top: 0;
}
.whiteHeader{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background: white;*/
    z-index: 7;
    padding-left: 5%;
    padding-right: 5%;
    position: absolute;
    top: 0;
}

.logo{
    order: 1;
    height: auto;
    width: auto;
    display: flex;
}
.searchBlock{
    order: 2;
    display: flex;
}
.searchInput{
    border-radius: 10px 0 0 10px;
    padding: 5px 10px;
    border: 1px solid transparent;
    width: 300px;
}
.searchInput:focus{
    outline: none;
}
.searchIconBody{
    padding: 5px;
    border-radius: 0 10px 10px 0;
    background-color: #6d8bfa;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.searchIcon{
    height: 24px;
}
.menu{
    display: flex;
    z-index: 3;
    order: 2;
    height: auto;
    align-content: center;
    align-items: center;
}

.menu_ul{
    display: flex;
    align-content: center;
    align-items: center;
    height: auto;
    order: 2;
    list-style: none;
    font-size: 18px;
    margin: 0;
}

.menu_ul li a{
    font-family: 'Rubik Medium';
    cursor: pointer;
    display: flex;
    align-content: center;
    align-items: center;
    height: auto;
    margin: 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

.menu_ul li a:hover {
    text-decoration: none;
    cursor: pointer;
}
.link > a{
    color: white;
    font-family: 'Rubik Medium';
    cursor: pointer;
}
.mobileMenu{
    display: none;
}
.svg > *{
    transition: 0.3s;
}
.svg:hover path{
    transition: 0.3s;
    fill: rgba(246,137,57,1) ;
}
.svg:hover rect{
    transition: 0.3s;
    fill: rgba(246,137,57,1) ;
}
.svg:hover circle{
    transition: 0.3s;
    fill: rgba(246,137,57,1) ;
}
.svg:hover{
}

.studentCard{
    display: flex;
    align-items: center;
}
.studentAvatar{
    height: 42px;
    width: 42px;
    border-radius: 50%;
    margin-right: 10px;
}
.studentInfo{
    display: flex;
    flex-direction: column;
}
.exitBtn{
    font-size: 14px;
    font-family: "Rubik Medium";
}
.exitBtn:hover{
    text-decoration: underline;
}
@media screen and (max-width: 761px) {
    .header {
        width: 100%;
        display: flex;
        z-index: 7
    }
    .whiteHeader{
        width: 100%;
        display: flex;
        z-index: 7
    }
    .logo{
        order: 3;
        width: auto;
        margin: 10px 0px;
    }
    .menu{
        display: none;
    }
    .searchBlock{
        order: 2;
    }
    .searchInput{
        width: 100px;
    }
    .menuButtonBody{
        order: 1;
        display: flex;
        align-items: center;
    }
    .mobileMenu{
        transition: 0.5s;
        display: block;
        width: 100%;
    }
    .menu_ul{
        padding: 0;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
    .menu_ul li a{
        font-size: 16px;
        margin: 0;
        margin-bottom: 10px;
    }
    .svg{
        height: 40px;
        width: 85px;
    }
}

@media screen and (max-width: 1024px) {
    .header {
        width: 100%;
        display: flex;
        z-index: 7;
    }
    .whiteHeader{
        width: 100%;
        display: flex;
        z-index: 7;
    }
    .logo{
        order: 1;
        width: auto;
        margin: 10px 0px;
    }
    .menu{
        display: none;
    }
    .searchBlock{
        order: 2;
    }
    .menuButtonBody{
        order: 3;
        display: flex;
        align-items: center;
    }
    .menuButtonBody span{
        display: none;
    }
    .mobileMenu{
        transition: 0.5s;
        display: block;
        width: 100%;
    }
    .menu_ul{
        padding: 0;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
    .menu_ul li a{
        font-size: 16px;
        margin: 0;
        margin-bottom: 10px;
    }
    .svg{
        height: 40px;
        width: 85px;
    }
}
@media screen and (max-width: 992px){
    .courses_block{
        width: 100%;
        display: grid;
        grid-template-columns: [card] 50% [card] 50%;
    }
}
@media screen and (max-width: 600px){
    .courses_block{
        grid-area: cards;
        width: 100%;
        display: grid;
        grid-template-columns: [card] 49% [card] 49%;
        grid-column-gap: 2%;
    }
    .message{
        padding: 50px 5%;
        box-sizing: border-box;
    }

    .courses_block > *{
        margin-bottom: 30px;
    }
}