.container {
    background-color: #F1F5ED;
    padding: 20px;
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 30px;
    height: auto;
}

.title_block{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    align-items: center;
}