.wrapper{
    margin-top: 30px;
    width: 100%;
}
.wrapperItem{
    width: 100%;
    margin-bottom: 10px;
}
.wrapperItemTitle{
    color: #474747;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
}
.wrapperItemInput{
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #a4a4a4;
}
.wrapperItemInput:focus{
    outline: none;
}
.wrapperItemCheckbox {
    margin-right: .5rem;
    margin-bottom: 1rem;
}
.buttonBody{
    display: flex;
}
.addButton{
    background: #7794F8FF;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.addButton:disabled{
    background: #59607a;
}
.buttonBody:active{
    outline: none;
}