.container{
    width: 100%;
    padding: 0 10px 10px;
}

.filter_block{
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 2px 13px -5px rgba(0,0,0,0.6);
    margin-bottom: 30px;
    background-color: #5E7CDF;
    color: #fff;
}

.filter_title{
    font-weight: 700;
}

.show_more_button{
    border: 1px solid transparent;
    background-color: transparent;
    color: #9bcbfd;
    margin-top: 10px;
}

.filter_btn{
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 2% 5%;
    color: #fff;
    background-color: #5E7CDF;
    box-shadow: 0 2px 13px -5px rgba(0, 0, 0, 0.3);
}