@font-face {
    font-family: "Rubik Regular";
    src: url("../../../public/fonts/Rubik/Rubik-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Rubik Medium";
    src: url("../../../public/fonts/Rubik/Rubik-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Rubik Bold";
    src: url("../../../public/fonts/Rubik/Rubik-Bold.ttf") format("truetype");
}

.container{
    width: 100%;
}
.header{
    width: 100%;
    display: flex;
    justify-content: center;
}
.headerTitle{
    font-family: "Rubik Bold";
    font-size: 24px;
}
.top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}
.leftBlock{
    width: 50%;
}
.rightBlock{
    width: 50%;
}
.list{
    width: 100%;
}
.listItem{
    font-family: "Rubik Regular";
    width: 100%;
    font-size: 18px;
    margin-bottom: 5px;
}
.bold{
    font-family: "Rubik Bold";
}
.btn{
    font-family: sans-serif;
    font-size: 16px;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background: #412FAE;
    transition: 0.5s;
    margin: 0;
    font-family: "Rubik Medium";
}
.listItemR{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: "Rubik Regular";
}
.date{
    font-family: "Rubik Medium";
    color: #000000B2;
}
.medium{
    font-family: "Rubik Medium";
}
@media (max-width: 762px){
    .leftBlock{
        width: 100%;
    }
    .rightBlock{
        width: 100%;
    }
}