@font-face {
    font-family: "Rubik Regular";
    src: url("../../../public/fonts/Rubik/Rubik-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Rubik Medium";
    src: url("../../../public/fonts/Rubik/Rubik-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Rubik Bold";
    src: url("../../../public/fonts/Rubik/Rubik-Bold.ttf") format("truetype");
}

.container{
    width: 100%;
    padding: 20px 5%;
    display: flex;
    justify-content: center;
}
.bigViolet{
    font-family: "Rubik Bold";
    color: #412FAE;
    font-size: 64px;
}
.subtitle{
    font-family: "Rubik Regular";
    color: #5c5c5f;
}
.comments{
    color: black;
    font-family: "Rubik Medium";
}
.link{
    color: #412FAE;
    text-decoration: underline;
}
.link:hover{
    cursor: pointer;
    color: #412FAE;
}
.img{
    width: 75%;
}
.leftSide{
    width: 30%;
}
.rigthSide{
    width: 50%;
}
@media (max-width: 762px){
    .leftSide{
        width: 100%;
    }
    .rigthSide{
        display: none;
    }
}