.cardBlock{
    border: 2px solid black;
    border-radius: 15px;
    padding: 0;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    background-color: #cad3ee;
}
.cardBlock p{
    border: 2px solid black;
    background-color: white;
    border-radius:15px;
    padding: 3px;
}
.previewLogo{
    width: 50%;
    aspect-ratio: 1/1;
    margin-left: 25%;
}
.avatarEditor{
    position: absolute;
    /*width: 80%;*/
    z-index: 10;
    border: 2px solid black;
    border-radius: 15px;
    margin-left: 15%;
}
.avatarEditor .avatarClose{
    border-radius: 15px 15px 0px 0px;
}
.avatarSave{
    border-radius: 0px 0px 15px 15px;
}
.editRow p{
    border: 2px solid black;
    background-color: white;
    border-radius:15px 0px 0px 15px;
    padding: 3px;
    width: 90%;
    border-right: none;
}
.editButton{
    border-radius:0px 15px 15px 0px;
    margin-bottom: 16px;
    background-color: #412FAE;
    color: white;
    border-left: none;
}
.editButton:hover{
    background-color: yellow;
    color: black;
    border-left: 2px solid black;
}
.saveButton{
    border-radius:0px 15px 15px 0px;
    margin-bottom: 16px;
    background-color: #412FAE;
    color: white;
    border-left: none;
}
.saveButton:hover{
    background-color: yellow;
    color: black;
    border-left: 2px solid black;
}
.editRow{
    display: flex;
    flex-direction: row;
    height: auto;
}
.moderateRow{
    border: 2px solid black;
    background-color: white;
    border-radius:15px 0px 0px 15px;
    padding: 3px;
    width: 90%;
    margin-bottom: 16px;
    border-right: none;
}
.moderateRowPart1{
    border: 2px solid black;
    background-color: white;
    border-radius:15px 0px 0px 15px;
    padding: 3px;
    width: 30%;
    margin-bottom: 16px;
    border-right: none;
}
.moderateRowPart2{
    border: 2px solid black;
    background-color: white;
    padding: 3px;
    width: 30%;
    margin-bottom: 16px;
    border-right: none;
}
.moderateRowPart3{
    border: 2px solid black;
    background-color: white;
    padding: 3px;
    width: 30%;
    margin-bottom: 16px;
    border-right: none;
}
.primalBlock{
    width: 25%;
    border-right: 2px solid black;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.paramsBlock{
    width: 25%;
    border-right: 2px solid black;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.aboutBlock{
    width: 50%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.link{
    word-break: break-all;
}
.link a{
    display: block;
    color: #412FAE;
}

.trash{
    border-radius:0px 15px 15px 0px;
    background-color: #412FAE;
    border: none;
    margin: 0px;
    font-size: 25px;
    color: white;
    font-weight: bold;
}
.trash:hover{
    background-color: red;
    color: black;
}
.moderate{
    width: 25%;
}