@font-face {
    font-family: "Rubik Regular";
    src: url("../../../public/fonts/Rubik/Rubik-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Rubik Medium";
    src: url("../../../public/fonts/Rubik/Rubik-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Rubik Bold";
    src: url("../../../public/fonts/Rubik/Rubik-Bold.ttf") format("truetype");
}

.body{
    width: 100%;
    position: relative;
    min-height: 100vh;
    background: #5F2FAE;
    padding: 0 5%;
    box-sizing: border-box;
    z-index: 8;
}
.whiteBody{
    width: 100%;
    min-height: 100vh;
    background: white;
    padding: 0 5%;
    box-sizing: border-box;
    z-index: 8;
}
.dropdown-menu { overflow-y: scroll; height: 200px; }
.main_title{
    color: #fff;
    font-family: "Rubik Bold";
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}
.simple_text{
    color: #fff;
    font-family: "Rubik Bold";
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}
.orange{
    color: #FFF973;
}
.techSupportInputsWrapper{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.header{
    padding: 30px 0;
    justify-content: flex-start;
    width: 100%;
    display: flex;
    align-items: center;
}
.goBack{
    color: white;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    background: transparent;
    padding: 5px;
    border-radius: 10px;
    width: 32px;
}
.goBackImg{
    height: 16px;
    cursor: pointer;
}
.selectBlock, .techSupportInput{
    width: 80%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    background: #7D54BF;
    color: white;
    margin-bottom: 10px;
    font-family: "Rubik Medium";
}

.selectBlock:focus, .techSupportInput:focus{
    outline: none;
}
.techSupportInput::placeholder{
    color: rgba(255, 255, 255, 0.54);
}
.button{
    font-family: "Rubik Medium";
    cursor: pointer;
    background-color: #FFF973;
    color: black;
    width: max-content;
    border: none;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 10px;
    transition: 0.3s;
    font-size: 16px;
    margin-top: 5px;
    z-index: 5;
}
.message{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "Rubik Medium";
    margin: 15px 0;
}
.button:disabled{
    background: #FFF97399;
    color: #0000007F;
}
.imageBlock{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.image{
    position: absolute;
    width: 100%;
}
.imageTitle{
    position: absolute;
    z-index: 1;
    top: -3%;
    left: 7%;
    font-family: "Rubik Medium";
    font-size: 22px;
    color: white;
}
.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.loading{
    height: 300px;
    width: 100%;
    font-family: "Rubik Medium";
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards_block{
    grid-area: cards;
    width: 100%;
    display: grid;
    grid-template-columns: [card] 22% [card] 22% [card] 22% [card] 22%;
    grid-column-gap: 2%;
    align-items: flex-start;
    min-height: 450px;
}
.seeMore{
    color: black;
    font-family: "Rubik Medium";
    cursor: pointer;
    border-bottom: 1px solid transparent;
    transition: 0.3s;
}
.seeMore:hover{
    border-bottom: 1px solid black;
}

@media screen and (max-width: 1200px) {
    .cards_block{
        grid-area: cards;
        width: 100%;
        display: grid;
        grid-template-columns: [card] 30% [card] 30% [card] 30%;
        grid-column-gap: 2%;
    }
}

@media sreen and (max-width: 900px){
    .cards_block{
        grid-area: cards;
        width: 100%;
        display: grid;
        grid-template-columns: [card] 50% [card] 50%;
        grid-column-gap: 2%;
    }
}

@media (max-width: 600px){
    .imageBlock{
        display: none;
    }
    .techSupportInputsWrapper{
        width: 100%;
    }
    .cards_block{
        grid-area: cards;
        width: 100%;
        display: grid;
        grid-template-columns: [card] 49% [card] 49%;
        grid-column-gap: 2%;
    }
    .displayNoneOnMobile{
        display: none;
    }
    .techSupportInput{
        width: 100%;
    }
    .selectBlock{
        width: 100%;
    }
    .body{
        min-height: 100vh;
    }
}