.container{
    display: flex;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}

.container:hover{
    box-shadow: 0 0 3px darkgray;
}

.image_block{
    width: 100px;
    height: auto;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.text_block{
    margin-left: 15px;
}

.text_block > * {
    margin: 0;
}

.title{
    font-size: 20px;
    font-family: "Rubik Medium";
}

.categoryName{
    color: gray;
    font-size: 14px;
    margin-bottom: 10px;
}

.price{
    color: gray;
    font-size: 14px;
}

.price_text{
    font-weight: 700;
}

.views_text{
    color: gray;
    font-size: 14px;
}
@media screen and (max-width: 761px){
    .container{
        width: 100%;
    }
    .image_block{
        width: 50%;
    }
}