@font-face {
    font-family: "Rubik Regular";
    src: url("../../../public/fonts/Rubik/Rubik-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Rubik Medium";
    src: url("../../../public/fonts/Rubik/Rubik-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Rubik Bold";
    src: url("../../../public/fonts/Rubik/Rubik-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat Regular";
    src: url("../../../public/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat Medium";
    src: url("../../../public/fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat Bold";
    src: url("../../../public/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}

.course_filters_container {
    background-color: #F3F3F3;
    position: relative;
    padding: 20px;
    padding-left: 5%;
    padding-right: 5%;
}

.container {
    padding: 0px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 10px;
    box-sizing: border-box;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.filtersSection {
    width: 24%;
}

.filtersSection h1 {
    font-family: "Montserrat Bold";
    font-size: 40px;
    line-height: 24px;
    margin-bottom: 40px;
}

.filtersSection h3 {
    font-family: "Montserrat Bold";
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 24px;
}

.rotateBtn{
    transform: rotate(180deg);
    transition: 0.5s;
}

.rotateBtn_bt{
    transform: rotate(0deg);
    transition: 0.5s;
}

.priorityCategories span{
    margin-right: 15px;
    cursor: pointer;
    color: #007AFF;
}
.priorityCategories span:hover{
    text-decoration: underline;
    transition: 0.1s;
}

.filterChapter{
    display: flex;
    flex-direction: column;
    font-family: "Montserrat Regular";
}

.search_block {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    position: relative;
}

.search_block_content {
    display: flex;
    align-content: stretch;
    align-items: stretch;
}

.searchFilterWrapper {
    position: absolute;
    left: 0;
    width: 45%;
    bottom: 20px;
}

.searchFilter {
    background-color: white;
    position: absolute;
    color: black;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 10;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
    max-height: 240px;
    height: auto;
    overflow: auto;
}
.searchFilterItem {
    padding: 10px;
}
.searchFilterItem:hover {
    background-color: rgb(140, 140, 140);
    cursor: pointer;
    transition: 0.1s;
}
.search_block_input {
    padding: 16px 43px;
    margin-right: 20px;
    width: 405px;
    height: 56px;
    border: none;
    border-radius: 8px;
    background: url("https://realibi.kz/file/641374.png") no-repeat;
    background-color: #FFFFFF;
    background-position: 2% 50%;
    background-size: 24px;
    font-family: "Montserrat Regular";
}

.search_block_btn {
    font-family: sans-serif;
    line-height: 20px;
    font-size: 16px;
    color: white;
    padding: 14px 30px;
    border: none;
    border-radius: 5px;
    background: #007AFF;
    transition: 0.5s;
    margin: 0;
    font-family: "Montserrat Bold";
}

.filterChapterContent {
    height: 200px;
    overflow: scroll;
}

.filter_blocks {
    background: #fff; 
    padding: 8px 8px 8px 16px;
    margin-bottom: 34px;
}

.filterChapterContent::-webkit-scrollbar {
    width: 10px;
    height: 1px;
}

.filterChapterContent::-webkit-scrollbar-thumb {
    background: #E0E0F1;
    border-radius: 8px;
}

.cardsSection{
    width: 76%;
}
.containerItems{
    padding-top: 2%;
    width: 100%;
}
.triangle_bg{
    background-image: url("../../../public/triangle_bg.png");
    background-size: cover;
    background-position: center;
}
.title{
    margin-top: 0;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 30px;
    color: white;
    text-transform: uppercase;
}

.subtitle{
    color: white;
    font-size: 18px;
    font-family: "Montserrat Bold";
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
}
.onOrOfflineBlock{
    width: 100%;
    display: flex;
    justify-content: center;
}
.formatInputBody{
    margin: 0 10px;
}
.link{
    color: black;
    font-family: "Montserrat Medium";
    text-decoration: none;
    cursor: pointer;
}
.formatLabel{
    cursor: pointer;
    color: white;
    font-size: 16px;
    margin: 0;
    font-family: sans-serif;
    font-weight: 500v;
    transition: 0.3s;
}
.formatLabel:hover{
    color: #F68939;
}
.formatInputBody input{
    display: none;
    cursor: pointer;
    height: 16px;
    width: 16px;
    background: #F68939;
    outline: none;
    color: #F68939;
    border: 4px solid #F68939;
}
.filterBlock{
    display: flex;
    transition: 1s;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
}
.selectBlock{
    background: white;
    background-color: white;
    border-radius: 10px;
    width: 150px;
    cursor: pointer;
    min-width: 200px;
    padding: 10px 15px;
    font-family: "Montserrat Medium";
    border: 1px solid transparent;
    margin: 0 5px;
    margin-bottom: 10px ;
    box-shadow: 0 2px 13px -5px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}
.selectBlock:focus{
    outline: none;
    box-shadow: 0 2px 13px rgba(119,148,248,1);
    border: 1px solid rgba(119,148,248,0.5);
}
.selectBlock:hover{
    box-shadow: 0 2px 13px rgba(119,148,248,1);
    border: 1px solid rgba(119,148,248,0.5);
}
.inputNumber::-webkit-outer-spin-button,
.inputNumber::-webkit-inner-spin-button {
    display: none;
}

.message{
    font-family: "Montserrat Bold";
    font-size: 24px;
    margin-top: 1%;
    width: 100%;
}

.unfilteredCoursesBlock{
    margin-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
}

.unfilteredCoursesBlock > *{
    margin-bottom: 3%;
}

.img_title{
    font-family: "Montserrat Bold";
    margin-top: 1%;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    color: black;
}

.img_title > p{
    font-size: 26px;
    font-weight: 700;
    margin: 0;
    margin-left: 10px;
    text-transform: uppercase;
}
.img_title > img{
    width: 24px;
}

.courses_block{
    box-sizing: border-box;
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.courseCard_item{
    width: 100%;
    /* padding-left: 5%;
    padding-right: 5%; */
    display: flex;
    justify-items: center;
    justify-content: center;
}

.slider_block{
    width: 100%;
    height: 700px;
    background-position: center;
}

.opacity_50{
    width: 100%;
    height: 100%;
    background-color: #00000075;
}

.text_block{
    position:absolute;
    top: 5%;
    left: 5%;
    color: #fff;
}

.text_block > h1{
    margin-bottom: 30px;
}

.text_block > p{
    font-size: 20px;
}

.search_btnBody{
    width: 100%;
    display: flex;
    justify-content: center;
    border: none;
}
.backToCoursesPageButton{
    width: 200px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding: 5px 15px;
    background-color: transparent;
    border-radius: 5px;
    color: #fff;
    border: #fff 1px solid;
    transition: 0.3s;
}
.backToCoursesPageButton:hover{
    text-decoration: none;
    color: white;
    background-color: #5E7CDF;
}
.filter{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 5px;
}
.search_btnDIV{
    display: flex;
    justify-content: space-around;
    width: 500px;
    height: auto;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.4);
    animation: pulse 2s infinite;
    margin-top: 10px;
}

.search_btn{
    background: #412FAE;
    font-family: "Montserrat Regular";
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}


@keyframes animate_grow {
    0% {
        transform: scale3d(1, 1, 1);
    }
    50% {
        transform: scale3d(1.1, 1.1, 1.1);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}
.activeFilter{
    color: #F68939;
    transition: 0.3s;
}
.filterBtn{
    transition: 0.1s;
}
.filterBtn:active{
    transform: scale(0.97);
}
.arrow_bottom_block{
    width: 100%;
    display: flex;
}
.arrowImg{
    width: 24px;
}

.btnBody{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}
.btnBody:hover{
    cursor: pointer;
}
.button{
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: white;
    background-color: #F68939;
    display: flex;
    margin: 10px 0;
    align-items: center;
}

.topHeader{
    height: auto;
    width: 100%;
    margin-bottom: 0;
}

.topHeaderBody{
    z-index: 6;
    display: flex;
    padding: 40px 0;
    flex-direction: column;
    background: #5654BF;
    padding: 20px;
    box-sizing: border-box;
    width: 60%;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 30px;
    height: auto;
    margin-bottom: 0;
    padding: 20px 0;
    position: relative;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.1);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.1);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.1);
}
.whyUsTitle{
    font-size: 32px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
}
.whyUsHeader{
    width: 100%;
    background: linear-gradient(90deg, rgba(60,88,185,1) 0%, rgba(119,148,248,1) 100%);
    text-align: center;
    padding: 30px 0;
}
.whyUs{
    background: linear-gradient(90deg, rgba(60,88,185,1) 0%, rgba(119,148,248,1) 100%);
    width: 100%;
    height: auto;
}
.whyUsContentBlock{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.whyUsCardTitle{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 22px;
}
.whyUsCardDescBody{
    color: white;
    display: flex;
    flex-direction: column;
}
.whyUsCardDesc{
    width: 80%;
    font-family: sans-serif;
}
.whyUsCard{
    width: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.whyUsCardImg{
    margin-right: 20px;
}
.stockSlider{
    width: 100%;
    height: auto;
    background: #F68939;
}
.stocksHeader{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    padding: 1% 5% 0 5%;
}
.stocksTitle{
    margin: 20px 0 0 0;
    color: white;
    font-size: 24px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    position: relative;
}

.loader{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader img{
    width: 128px;
    height: 128px;
}

.RoundCube{
    position: absolute;
    right: -40px;
    bottom: 10px;
    height: 100px;
}
.ConeBlue{
    position: absolute;
    left: -30px;
    top: 10px;
    height: 100px;
}
.sortBlock{
    z-index: 5;
    height: 0;
    background: #F1F5ED;
    border-radius: 0 0 30px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 63px;
    width: 86%;
    margin: 0 auto;
    transition: 1s;
    padding: 5px 20px;
    box-sizing: border-box;
    overflow: hidden;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.1);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.1);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.1);
}
.sortItems{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.sortItem{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    margin-right: 10px;
}
.sortItemTitle{
    color: #474747;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}
.sortValue{
    color: #474747;
    font-size: 16px;
    cursor: pointer;
    border-bottom: 1px #474747 dotted;
    transition: 0.3s;
}
.sortValue:hover{
    color: #ff6b00;
    border-bottom: 1px #ff6b00 dotted;
}
.sortValue.active{
    color: #F68939;
    border-bottom: 1px #ff6b00 dotted;
}
.sortBtn{
    background: #F68939;
    padding: 5px 10px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
}
.sortBtn:hover{
    background: #da5c00;
}
.sortSelect{
    background: none;
    color: #F68939;
    border: none;
    cursor: pointer;
}
.sortSelect:focus{
    outline: none;
}
.sortHideBtn{
    color: #F68939;
    border-bottom: dotted 1px #F68939;
    font-size: 14px;
    display: none;
}

.disableOnDesktop{
    display: none;
    margin-top: 10px;
    margin-bottom: 30px;
}

.filter {
    display: block;
    background: url(https://realibi.kz/file/459178.png) no-repeat;
    background-size: 20px;
    background-position: 0 50%;
    font-size: 20px;
    padding: 0;
    padding-left: 26px;
    cursor: pointer;
}

.filterActive {
    display: block;
    font-size: 20px;
    background: url(https://realibi.kz/file/30801.png) no-repeat;
    background-size: 20px;
    background-position: 0 50%;
    padding-left: 26px;
    cursor: pointer;
}

.filter_btn {
    display: none;
    width: 60px;
    height: 60px;
    background: url("https://realibi.kz/file/45387.png") no-repeat;
    background-size: cover;
    cursor: pointer;
}

.price_content {
    display: flex;
}

.input_container, .input_container_from {
    display: flex;
    flex-direction: column;
}

.input_container input, .input_container_from input {
    width: 107px;
    border-radius: 0px 10px 10px 0px;
    border: 1px solid #aaaaaa;
    padding: 5px;
}

.input_container_from input {
    border-radius: 10px 0px 0px 10px;
    border-right: none;
}

@media screen and (min-width: 2350px){
    .course_filters_container {
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media screen and (min-width: 2100px) and (max-width: 2350px) {
    .course_filters_container {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media screen and (max-width: 1600px){
    /* .filtersSection {
        width: 25%;
    } */
    .courses_block{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (max-width: 1070px){
    .course_filters_container {
        padding: 10px;
    }
    
    .filtersSection {
        display: none;
        position: absolute;
        top: 105px;
        padding: 20px;
        background-color: #F3F3F3;
        width: 100%;
        z-index: 9;
    }
    .filter_btn {
        display: block;
    }
    .cardsSection {
        width: 100%;
    }
    .search_block {
        display: none;
        position: absolute;
        top: 110px;
        padding: 20px;
        z-index: 10;
        background: #f3f3f3;
        width: 97%;
    }
    .priorityCategories {
        display: flex;
        flex-wrap: wrap;
    }
    .search_block_input {
        width: 100%;
    }
}

@media screen and (max-width: 850px){
    .cardsSection {
        /* width: 100%; */
    }
}

@media screen and (max-width: 600px) {
    .search_block {
        text-align: center;
    }
    .filtersSection {
        top: 180px; 
    }
    .search_block_btn {
        margin: 10px;
    }

    .search_block_content {
        align-items: center;
        flex-direction: column;
    }
    .search_btnDIV{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
        height: auto;
        box-shadow: 0 0 0 rgba(255, 255, 255, 0.4);
        animation: pulse 2s infinite;
        margin-top: 10px;
    }

    .search_btn{
        margin-top: 10px;
    }

    .title{
        font-size: 32px;
        margin-bottom: 3%;
    }

    .message{
        font-size: 20px;
        margin-top: 3%;
    }

    .subtitle{
        font-size: 18px;
        font-weight: 550;
        text-align: center;
        line-height: 1.2;
        padding: 1em;
    }
    .containerItems{
        flex-direction: column;
    }

    .courses_block{
        grid-area: cards;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2%;
    }

    /* .courses_block > *{
        margin-bottom: 30px;
    } */

    .img_title{
        margin-top: 0;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
    }
    .selectBlock{
        width: 100%;
        margin-bottom: 10px;
    }
    .img_title > p{
        font-size: 24px;
        font-weight: 700;
        margin-left: 2%;
        margin-right: 2%;
        text-transform: uppercase;
    }

    .img_title > img{
        width: 24px;
    }

    .img_title > div{
        display: none;
    }

    .filterBlock{
        flex-direction: column;
        width: 80%;
        justify-content: center;
        margin: 0 auto;
    }

    .topHeader{
        width: 100%;
    }
    .topHeaderBody{
        border-radius: 30px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        padding-bottom: 20px;
    }
    .search_btnBody{
        margin-bottom: 10px;
    }
    .RoundCube{
        display: none;
    }
    .ConeBlue{
        display: none;
    }

    .whyUsCard{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .whyUsCardDescBody{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sortBlock{
        width: 90%;
        flex-direction: column;
        flex-wrap: wrap;
        top: 60px;
    }
    .sortItems{
        flex-direction: column;
    }
    .sortItem{
        flex-direction: column;
    }
    .sortBtn{
        margin-top: 10px;
    }
    .sortHideBtn{
        display: block;
    }
    .disable{
        display: none;
    }
    .disableOnDesktop{
        display: block;
    }
    .bottomBlock{
        margin-top: 0;
        padding-top: 20px;
    }
    .topBlock{
        margin-bottom: 0;
    }
}
@media screen and (max-width: 1024px) {
    .RoundCube{
        right: -10px;
    }
    .ConeBlue{
        top: 0;
        height: 128px;
    }
}

@media screen and (max-width: 540px){
    .courses_block{
        /* width: 100%;
        display: grid;
        grid-template-columns: 1fr; */
        margin-bottom: 0;
    }
    .courseCard_item {
        justify-content: center;
    }
}

@media screen and (max-width: 480px){
    .filter_btn {
       background: url(https://realibi.kz/file/201274.png);

        width: 60px;
        height: 60px;
        background-size: cover;
        cursor: pointer;
    }
    .search_block_btn {
        background: #19A85C;
    }
}

@media screen and (max-width: 300px){
    .search_block {
        top: 150px;
    }
    .filtersSection {
        top: 210px;
    }
}

@media screen and (max-width: 280px){
    .courses_block{
        /* grid-area: cards;
        width: 100%;
        display: grid; */
        grid-template-columns: 1fr;
        /* grid-column-gap: 2%; */
    }
}