.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 5%;
    box-sizing: border-box;
    align-items: flex-start;
}

.application{
    width: 30%;
}

@media screen and (max-width: 761px){
    .application{
        width: 45%;
        margin: 0 5px 20px 5px;
    }
}
