@font-face {
    font-family: "Rubik Regular";
    src: url("../../../public/fonts/Rubik/Rubik-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Rubik Medium";
    src: url("../../../public/fonts/Rubik/Rubik-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Rubik Bold";
    src: url("../../../public/fonts/Rubik/Rubik-Bold.ttf") format("truetype");
}

.container{
    width: 100%;
    box-sizing: border-box;
    padding: 50px 5%;
    border-radius: 64px 0 64px 0;
    background: #6F4BD0;
    margin: 50px 0;
    display: flex;
}
.leftSide{
    width: 50%;
}
.rightSide {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.image{
    width: 100%;
    position: absolute;
}
.titleImg{
    height: 48px;
    width: 48px;
    margin-right: 10px;
}
.title{
    font-family: "Rubik Bold";
    font-size: 32px;
    color: white;
}
.titleBlock{
    width: 100%;
    display: flex;
    align-items: center;
}
.wrapper{
    width: 100%;
    margin-top: 30px;
}
.wrapperItem{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.itemImage{
    width: 64px;
    height: 64px;
    margin-right: 10px;
}
.itemTitle{
    color: white;
    font-size: 24px;
    font-family: "Rubik Medium";
}
.itemSubtitle{
    color: #FFFFFFB2;
    font-family: "Rubik Regular";
}
@media screen and (max-width: 761px){
    .rightSide{
        display: none;
    }
    .leftSide{
        width: 100%;
    }
}