.container{
    display: flex;
    justify-content: space-between;
}

.container_1_3{
    width: 29%;
    background-color: #fff;
    padding: 0 5%;
    border-radius: 11px;
    box-sizing: border-box;
    margin: 20px 0;
}

.container_2_3{
    margin: 20px 0;
    width: 69%;
    height: auto;
    background-color: #fff;
    padding: 0 5%;
    box-sizing: border-box;
    margin: 20px 0;
    border-radius: 11px;
}

.block_title{
    font-size: 24px;
    font-weight: 700;
}

.popularCardItem{
    width: 50%;
}
.popularCardsList{
    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width: 761px){
    .container_1_3{
        width: 100%;
    }
    .container_2_3{
        width: 100%;
    }
    .popularCardsList{
        width: 100%;
    }
    .container{
        flex-direction: column;
    }
    .popularCardItem{
        width: 100%;
    }
}