@font-face {
    font-family: "Rubik Regular";
    src: url("../../../public/fonts/Rubik/Rubik-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Rubik Medium";
    src: url("../../../public/fonts/Rubik/Rubik-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Rubik Bold";
    src: url("../../../public/fonts/Rubik/Rubik-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat Regular";
    src: url("../../../public/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat Medium";
    src: url("../../../public/fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat Bold";
    src: url("../../../public/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Century Gothic Regular";
    src: url("../../../public/fonts/CenturyGothic2/centurygothic.ttf") format("truetype");
}
.image{
    position: relative;
    width: 547px;
    height: 547px;
    aspect-ratio: 1/1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    /*height: 547px;*/
    margin-right: 20px;
}
.image_block{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    left: 24px;
    right: 0;
    bottom: 24px;
}
.headerItem{
    width: 30%;
    font-family: 'Montserrat Regular';
}
.container{
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 2%;
}
.headerItemSecond{
    width: 50%;
    padding-left: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.headerItemThird{
    width: 20%;
    display: flex;
    justify-content: flex-end;
}
.verificatedSheild{
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 56px;
    width: 56px;
    position: absolute;
    right: 15px;
    top: 15px
}
.fullname{
    font-family: "Montserrat Regular";
    font-size: 22px;
    word-break: break-word;
}
.infoList{
    width: 100%;
}
.sertificatesList{
    width: 100%;
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sertificate{
    width: 30%;
    aspect-ratio: 3/2;
    /*border: 1px solid red;*/
    margin-bottom: 5px;
    margin-top: 5px;
}
.primaryInfoRows{
    width: 80%;
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.aboutButton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;
    gap: 10px;
    width: 121px;
    height: 44px;
    background: #FFFFFF;
    border-radius: 8px;
    font-family: 'Montserrat Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    vertical-align: center;
    margin-bottom: 10px;
}
.aboutButton2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;
    gap: 10px;
    width: 172px;
    height: 44px;
    background: #FFFFFF;
    border-radius: 8px;
    font-family: 'Montserrat Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    vertical-align: center;
    margin-bottom: 10px;
}
.aboutButton p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.categoryRow{
    /*border: 1px solid black;*/
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}
.titleRow{
    /*border: 1px solid black;*/
    font-family: 'Montserrat Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #1C1C1E;
    margin-bottom: 10px;
}
.roleRow{
    /*border: 1px solid black;*/
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
}
.centerNameRow{
    /*border: 1px solid black;*/
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #007AFF;
    margin-bottom: 10px;
}
.detailInfoRow{
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: row;
}
.theFirstInfoColumn{
    /*border: 1px solid black;*/
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-right: 10px;
}
.theSecondInfoColumn{
    /*border: 1px solid black;*/
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-right: 10px;
    /*margin-left: 30px*/;
}
.theThirdInfoColumn{
    /*border: 1px solid black;*/
    width: 50%;
}
.twoColumnsAndTwoRows{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.twoColumns{
    display: flex;
    flex-direction: row;
}
.twoRows{
    display: flex;
    flex-direction: column;
}
.promotionStar{
    height: 100px;
    width: 100px;
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.firstButtonsRow{
    /*border: 1px solid black;*/
}
.secondButtonsRow{
    /*border: 1px solid black;*/
}
.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 24px;
    gap: 10px;
    width: 240px;
    height: 48px;
    background: #007AFF;
    border-radius: 6px;
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    border: none;
}
.locationTitle{
    font-family: 'Montserrat Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #1C1C1E;
}
.courses_block{
    box-sizing: border-box;
    border-color: black;
    width: 100%;
    display: grid;
    /* background-color: #E9EDF1; */
    justify-content: center;
    /*grid-template-columns: [card] 22.5% [card] 22.5% [card] 22.5% [card] 22.5%;*/
    grid-template-columns: [card] 30% [card] 30% [card] 30%; 
    /* grid-gap: 1%; */
    justify-items: center;
}
.courseInfoListFooter{
    width: 100%;
    margin-top: 10px;
}
.courseInfoList{
    width: 30%;
    margin-top: 10px;
}
.infoItem{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.subTitle{
    font-family: "Montserrat Regular";
}
.leftSubTitle{
    /*font-family: "Montserrat Regulart";*/
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 21px;
    color: #1C1C1E;
    margin-bottom: 5px;
}
.value{
    font-family: "Montserrat Regular";
}
.leftValue{
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: rgba(0, 0, 0, 0.5);
}
.courseInfo{
    width: 100%;
    margin-top: 10px;
}
.price{
    font-size: 22px;
    font-weight: bolder;
    margin-right: 10px;
}
.aboutBlock{
    display: none;
    opacity: 100;
    margin-top: 20px;
}
.floatBlock{
    display: flex;
    flex-direction: column;
    width: 547px;
}
.twoColumnsAndTwoRowsMobile{
    display: none;
}
.twoColumnsMomile{
    display: none;
}
.twoRowsMobile{
    display: none;
}
.theFirstInfoColumnMobile{
    display: none;
}
.theSecondInfoColumnMobile{
    display: none;
}
.aboutBlockMobile{
    display: none;
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 2%;
}
.underImgInfo{
    display: none;
}
.starPercent{
    display: none;
}
.starTitle{
    color: white;
    font-family: "Montserrat Medium";
    line-height: 14px;
}
.starSubtitle{
    color: #e5e5e5;
    font-size: 12px;
    font-family: "Montserrat Regular";
    line-height: 12px;
}
@media (max-width: 1280px){
    .image{
        width: 488px;
        height: 488px;
    }
    .image_block{
        left: 20px;
    }
    .twoColumnsAndTwoRows{
        width: 100%;
    }
    .theThirdInfoColumn{
        display: none;
    }
    .aboutBlock{
        display: block;
    }
    .floatBlock{
        width: 488px;
    }
    .courses_block{
        grid-template-columns: [card] 30% [card] 30% [card] 30%;
    }
}
@media (max-width: 1200px){
    .courses_block{
        grid-template-columns: [card] 45% [card] 45%;
    }
}
@media (max-width: 1000px){
    .courses_block{
        grid-template-columns: [card] 45% [card] 45%;
    }
    .image{
        width: 450px;
        height: 450px;
    }
    .floatBlock{
        width: 450px;
    }
    .image_block{
        left: 24px;
    }
}
@media (max-width: 768px){
    .image{
        width: 334px;
        height: 334px;
    }
    .floatBlock{
        width: 334px;
    }
    .image_block{
        height: 80px;
        width: 80px;
        left: 16px;
        bottom: 13px;
    }
    .theFirstInfoColumn{
        width: 100%;
    }
    .theSecondInfoColumn{
        display: none;
    }
    .underImgInfo{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    .twoColumnsAndTwoRowsMobile{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        box-sizing: border-box;
        margin-top: 2%;
    }
    .twoColumnsMobile{
        display: flex;
        flex-direction: row;
    }
    .aboutBlock{
        display: none;
    }
    .aboutBlockMobile{
        display: block;
    }
}
@media (max-width: 480px){
    .courses_block{
        grid-template-columns: [card] 90%;
    }
    .image{
        width: 210px;
        height: 210px;
    }
    .floatBlock{
        width: 210px;
    }
    .image_block{
        height: 50px;
        width: 50px;
        left: 8px;
        bottom: 8px;
    }
    .primaryInfoRows{
        width: 40%;
    }
    .twoColumnsAndTwoRows{
        display: none;
    }
    .titleRow{
        font-size: 20px;
        line-height: 24px;
    }
    .categoryRow{
        font-size: 14px;
        line-height: 17px;
    }
    .roleRow{
        font-size: 14px;
        line-height: 17px;
    }
    .centerNameRow{
        font-size: 14px;
        line-height: 17px;
    }
    .leftSubTitle{
        font-size: 16px;
        line-height: 21px;
    }
    .leftValue{
        font-size: 16px;
        line-height: 21px;
    }
    .locationTitle{
        font-size: 24px;
        line-height: 29px;
    }
    .theFirstInfoColumnMobile{
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .theSecondInfoColumnMobile{
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .twoRowsMobile{
        display: flex;
        flex-direction: column;
    }
    .underImgInfo{
        display: none;
    }
    .promotionStar{
        width: 50px;
        height: 50px;
    }
    .starTitle{
        display: none;
    }
    .starSubtitle{
        display: none;
    }
    .starPercent{
        display: block;
        font-family: 'Montserrat Regular';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
    }
    .verificatedSheild{
        width: 32px;
        height: 32px;
        right: 8px;
        top: 8px;
    }
}
@media (max-width: 360px){
    .image{
        width: 155px;
        height: 155px;
    }
    .floatBlock{
        width: 155px;
    }
    .primaryInfoRows{
        margin-left: 5px;
        width: 50%;
    }
    .image_block{
        width: 40px;
        height: 40px;
    }
    .titleRow{
        font-size: 16px;
        line-height: 20px;
    }
}