@font-face {
    font-family: "Rubik Regular";
    src: url("../../../public/fonts/Rubik/Rubik-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Rubik Medium";
    src: url("../../../public/fonts/Rubik/Rubik-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Rubik Bold";
    src: url("../../../public/fonts/Rubik/Rubik-Bold.ttf") format("truetype");
}

.image{
    position: relative;
    width: 350px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    height: auto;
    height: 350px;
    margin-right: 20px;
}
.promotionStar{
    position: absolute;
    left: 0;
    top: 0;
}
.headerItem{
    width: 30%;
    font-family: sans-serif;
}
.container{
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 2%;
}
.headerItemSecond{
    width: 50%;
    padding-left: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.headerItemThird{
    width: 20%;
    display: flex;
    justify-content: flex-end;
}
.fullname{
    font-family: "Rubik Bold";
    font-size: 22px;
    word-break: break-word;
}
.infoList{
    width: 100%;
}
.courseInfoListFooter{
    width: 100%;
    margin-top: 10px;
}
.courseInfoList{
    width: 30%;
    margin-top: 10px;
}
.infoItem{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.subTitle{
    font-family: "Rubik Medium";
}
.leftSubTitle{
    font-family: "Rubik Medium";
    color: #000000B2;
}
.value{
    font-family: "Rubik Regular";
}
.leftValue{
    font-family: "Rubik Regular";
    color: #00000099;
    font-size: 14px;
    word-wrap: break-word !important;
}
.courseInfo{
    width: 100%;
    margin-top: 10px;
}
.price{
    font-size: 22px;
    font-weight: bolder;
    margin-right: 10px;
}
@media (max-width: 600px){
    .image{
        width: 100%;
        margin: 0 0 10px 0;
    }
    .headerItem{
        width: 100%;
    }
    .headerItem3{
        margin-top: 10px;
    }
    .value{
        text-align: right;
    }
    .infoList{
        width: 100%;
    }
    .headerItemSecond{
        margin-top: 10px;
        width: 100%;
        padding: 0;
    }
    .headerItemThird{
        width: 100%;
        padding: 0;
    }
}