.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container{
  padding: 0 5%;
  box-sizing: border-box;
  margin-top: 20px;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.subtitle{
  color: #263A59;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  text-transform: uppercase;
  margin-top: 0;
}

.logo {
  height: 1em;
}
.titleBlock{
  width: 100%;
  display: flex;
  justify-content: center;
}
.titleBlock > span{
  color: white;
  font-weight: bold;
  font-size: 24px;
}
.courses{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.categoryBlock{
  color: white;
  background-color: #3258fc;
  font-size: 16px;
  border-radius: 10px;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 5px;
}
.wrapper{
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.list{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 20%;
}
.listTitle{
  color: #474747;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.listItem{
  padding: 3px 5px;
  border: 1px solid transparent;
  border-radius: 10px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  color: #5E7CDF;
  transition: 0.3s;
}
.listItem:hover{
  border: 1px solid #5E7CDF;
}

.contactForm{
  margin-left: 30px;
  width: 40%;
  height: auto;
}
.contactFormTitleBlock{
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.contactFormTitle{
  font-size: 16px;
  font-weight: bold;
  color: #474747;
}
.contactFormPhoneInputBody{
  width: 100%;
}
.contactFormDesc{
  font-size: 14px;
  color: #474747;
}
.contactFormPhoneInput{
  border: 1px solid darkgray;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px 0 0 5px;
}
.contactFormPhoneInput:focus{
  outline: none;
}
.contactFormButton{
  padding: 5px;
  border-radius: 0 5px 5px 0;
  border: 1px solid darkgray;
  color: white;
  font-size: 14px;
  background-color: #3258fc;
  cursor: pointer;
}
.contactFormButton:active{
  outline: none;
}
.contactFormLink{
  cursor: pointer;
  color: #474747;
  text-decoration: underline;
  font-size: 14px;
}
.btn{
  cursor: pointer;
  color: #5E7CDF;
  font-size: 18px;
  border: 1px solid #5E7CDF;
  background-color: transparent;
  transition: 0.3s;
  padding: 5px 10px;
  border-radius: 10px;
}
.btn:hover{
  background-color: #5E7CDF;

  color: white;
  text-decoration: none;
}









.main_text{
  font-size: 32px;
  font-family: "Open Sans",sans-serif;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
  margin-top: 25vh;
  margin-bottom: 30vh;
  color: #011627;
}

.what_is_oilan_description{
  width: 40%;
}

.main_img{
  width: 90%;
  display: flex;
  justify-content: center;
}
.boy_image{
  position: absolute;
  right: 0;
  height: 500px;
  top: 20px;
}
.community_img{
  width: 40%;
}

.container {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.main_block{
  z-index: 0;
  top: 0;
  width: 100%;
  height: auto;
  background: rgb(60,88,185);
  background: linear-gradient(90deg, rgba(60,88,185,1) 0%, rgba(119,148,248,1) 100%);
}

.flex_block{
  display: flex;
  justify-content: space-around;
}

.contentBlockTitle{
  font-family: sans-serif;
  font-size: 38px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.dialogue_block_left{
  background: rgb(246,137,57);
  background: linear-gradient(0deg, rgba(246,137,57,1) 0%, rgba(255,168,105,1) 100%);
  width: 500px;
  height: auto;
  border-radius: 30px;
  margin-top: 5%;
  padding: 2%;
  color: #fff;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 18px;
  box-shadow: 0 8px 10px #5c5c5f;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.dialogue_block_right{
  background: rgb(246,137,57);
  background: linear-gradient(0deg, rgba(246,137,57,1) 0%, rgba(255,168,105,1) 100%);
  width: 500px;
  height: auto;
  border-radius: 30px;
  margin-top: 5%;
  padding: 2%;
  color: #fff;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 18px;
  box-shadow: 0 8px 10px #5c5c5f;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.courses_block{
  display: flex;
  padding-left: 15%;
  padding-right: 15%;
}

.courses_block > *{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
}

.orange_button{
  border-radius: 48px;
  background: rgb(246,137,57);
  background: linear-gradient(0deg, rgba(246,137,57,1) 0%, rgba(255,168,105,1) 100%);
  width: 250px;
  height: 60px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
  border: 1px solid transparent;
  cursor: pointer;
  box-shadow: 0px 2px 13px -5px rgba(0,0,0,0.6);
  transition: 0.5s
}

.orange_button:hover{
  transition: 0.5s;
  box-shadow: 0px 2px 13px 1px rgba(0,0,0,0.6);
  transform: scale(1.1);
  font-size: 20px;
}

.orange_button > * {
  color: #fff;
}

.orange_button > *:hover {
  color: #fff;
  text-decoration: none;
}

.orange_button:focus{
  outline: none;
}

.contentBlockContent{
  font-size: 20px;
  font-weight: 500;
}

.why_us_block{
  display: flex;
  align-items: center;
}

.contentBlock{
  z-index: 2;
  top: 0;
  width: 100%;
  height: auto;
}

.main_block_links_list{
  list-style: none;
  padding: 0;
}

.main_block_links_list li{
  font-family: sans-serif;
  display: inline-block;
  margin-right: 5%;
  color: #fff;
}

.main_blocks_links_p{
  color: #fff;
  cursor: pointer;
  fontSize: 16px;
  transition: 0.2s;
}
.main_blocks_links_p:hover{
  text-shadow: 0 0 2px #000;
  color: #95bddc;
  transition: 0.2s;
}

.main_text_big{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 52px;
  color: #fff;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.main_text_small{
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 500;
  color: #fff;
}

.features_line{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.feature_block{
  width: 20%;
  border-radius: 20px;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.feature_title{
  font-size: 28px;
  font-weight: 700;
}

.feature_text{
  font-size: 22px;
  font-weight: 400;
}

.arrow_bottom_block{
  text-align: center;
}

.flex_3{
  width: 33%;
  display: flex;
  align-items: center;
}

.flex_2{
  width: 50%;
}
.search_button{
  background-color: #5E7CDF;
  padding: 5px 20px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  box-shadow: 0 2px 13px -5px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}
.ca_block{
  background-image: url('/CA-background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 115vh;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
}

.courseCollections{
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    height: auto;
    justify-content: space-between;
    margin: auto;
}
.collectionBlock{
    width: 49.5%;
    height: 175px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    align-items: center;
    overflow: hidden;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
}
.collectionImg{
    transform: scale(1.05);
    height: auto;
    width: 100%;
    border-radius: 30px;
    transition: 0.3s;
}
.collectionBlock:hover .collectionImg{
    transform: scale(1.1);
}

.sortBlock{
  height: 0;
  background: #F1F5ED;
  border-radius: 0 0 30px 30px;
  width: 86%;
  margin: 0 auto;
  transition: 0.3s;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}
.sortItem{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: auto;
}
.sortItemTitle{
  color: #474747;
  font-size: 14px;
  margin-right: 15px;
}
.sortValue{
  color: #474747;
  font-size: 16px;
  margin: 0 10px;
  cursor: pointer;
  border-bottom: 1px #474747 dotted;
  transition: 0.3s;

}
.sortValue:hover{
  color: #ff6b00;
  border-bottom: 1px #ff6b00 dotted;
}
.sortValue.active{
  color: #F68939;
  border-bottom: 1px #ff6b00 dotted;
}
.sortBtn{
  background: #F68939;
  padding: 5px 10px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
}
.sortBtn:hover{
  background:  #5E7CDF;

}
.centerTitleBlock{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.centerTitle{
  color: #474747;
  font-weight: bold;
}

.arrow{
  cursor: pointer;
  color: #5E7CDF;
  border: 1px solid #5E7CDF;
  padding: 5px;
  border-radius: 5px;
  margin: 0 10px;
  transition: 0.3s;
}
.arrow:hover{
  background: #5571d3;
  color: white;
}
.arrow:active{
  outline: none;
}
.arrow:disabled{
  border: 1px solid #A5B4CB;
  color: #A5B4CB;
  background: rgba(125, 125, 125, 0.14);
}
.arrow:disabled:hover{
  color: #A5B4CB;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .subtitle{
    font-size: 18px;
    font-weight: 550;
    text-align: center;
    line-height: 1.2;
    padding: 1em;
  }
  .wrapper{
    flex-direction: column;
  }
  .list{
    width: 100%;
    margin-bottom: 10px;
  }
  .contactForm{
    width: 100%;
    margin: 0;
  }

  .courseCollections{
  flex-direction: column;
}
  .collectionBlock{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .main_block_links_block{
    margin-top: 80px;
  }
  .main_img{
    display: none;
  }

  .community_img{
    display: none;
  }

  .what_is_oilan_description{
    width: 100%;
    text-align: center;
  }

  .arrow_bottom_block{
    margin-top: 20px;
  }

  .why_us_block{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
  }

  .flex_block{
    flex-direction: column;
  }

  .flex_3{
    width: 100%;
  }

  .flex_2{
    width: 100%;
  }


  .feature_block{
    width: 100%;
    margin-top: 10px;
  }

  .contentBlock{
    padding-left: 5%;
    padding-right: 5%;
  }

  .contentBlockTitle{
    padding: 10px;
  }

  .ca_block{
    background-image: none;
    background-color: #5E7CDF;
    width: auto;
    height: auto;
    padding-top: 1%;
    padding-bottom: 50px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
  }

  .dialogue_block_right{
    height: auto;
    padding: 5%;
  }

  .dialogue_block_left{
    height: auto;
    padding: 7%;
  }
}
